.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.5);
}

.ModalContent {
	padding: 25px;
	background: white;
	min-width: 50vw;
	height: 95vh;
	overflow: auto;
}


.Modal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
